doctype html
html(lang="en")
    head
        include partials/header
    body.login
        .contenedor-formulario  
            h1 Inicia Sesion en UpTask 
            //- if error 
            //-     p.alerta.error= error
            
            if locals.mensajes
                .alertas
                    each categoria in Object.keys(locals.mensajes)
                        each error in mensajes[categoria]
                            .alerta(class=`${categoria}`)
                                p= error

            form#formulario.caja.caja-login(method="POST" action="/iniciar-sesion")
                .campo 
                    label(for='email') E-mail: 
                    input(type='email' name='email' placeholder='Tu Email' value= email )
                .campo
                    label(for='password') Password: 
                    input(type='password' name='password' placeholder='Tu Password' value= password )
                .campo.enviar
                    input.boton(type='submit' value='Iniciar Sesion')
                .campo.acciones
                    a(href='/crear-cuenta') Registrate Gratis
                    a(href='/reestablecer') ¿Olvidaste tu contraseña?
        script(src='/dist/bundle.js')